{% extends 'base.html' %}

{% block header %}
<h1>アキネーター</h1>
<a class="action" href="{{ url_for('recommend.index') }}">New</a>
{% endblock %}

{% block content %}
<div class=".mx-auto container ">
  <div class="row">
    <div class="col-4 card-body">
      <div class="col-12">
        <img class="h-50 img-responsive" src="static/img/defi.png">
      </div>
    </div>
    <div class="col-4 card-body">
      <div class="col-12 card-body">
        <div class="col-1 bubble-tail">
          <p class="question-number">1</p>
        </div>
        <div class="col-11 selector dialog-box  text-center">
          <p class="action">{{ que.name }}</p>
        </div>
      </div>
      <div class="col-12 card-body">
        <div class="w -100 p-0 database-selection selector dialog-box">
          <ul>
            <li>
              <a href="{{ url_for('recommend.update', choice='y') }}" id="a_yes" class="action">はい</a>
            </li>
            <li>
              <a href="{{ url_for('recommend.update', choice='n') }}" id="a_no" class="action">いいえ</a>
            </li>
            <li>
              <a href="javascript:void(0);" id="a_dont_know">分からない</a>
            </li>
            <li>
              <a href="javascript:void(0);" id="a_probably">たぶんそう部分的にそう</a>
            </li>
            <li>
              <a href="javascript:void(0);" id="a_probaly_not">たぶん違う そうでもない</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4 card-body"></div>
  </div>
</div>

<div class="row">

  <div class="col-4 card-body">

  </div>
</div>
</div>
</article>
{% endblock %}