
{% extends 'base.html' %}

{% block header %}
  <h1>アキネーター</h1>
  <a class="action" href="{{ url_for('recommend.index') }}">New</a>
{% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div>
        <p class="action">{{ que.name }}</p>
          <a class="action" href="{{ url_for('recommend.update', choice='y') }}">Yes</a>
          <a class="action" href="{{ url_for('recommend.update', choice='n') }}">No</a>
      </div>
      {% for order in test %}
        <li><h2>{{ order[1] }}</h2></li>
      {% endfor %}
    </header>
    <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
  </article>
{% endblock %}